<footer class="foot">
    <div class="box-primary">
        <div class="grid">
            <div class="col-1-2">
                <h5><a href="{{ url('store_blog_view') }}">{{ 'template.BlueDay_bundle.footer.latest_news'|trans }}</a></h5>
                <ul>
                {% set posts = elcodi_blog_pages() %}
                {% for post in posts %}
                    <li>
                        <a href="{{ url("store_blog_post_view", {
                            "id": post.id,
                            "slug": post.path
                        }) }}">
                            "{{ post.title }}"
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-1-2 ta-r">
                <p>
                    <a href="{{ url('store_homepage') }}" class="logo">
                        {{ elcodi_config('store.name') }}
                    </a>
                </p>
                {% if elcodi_config('store.phone') != '' or elcodi_config('store.email') != '' %}
                <p>
                    {% if elcodi_config('store.phone') != '' %}
                    <i class="icon-phone"></i> {{ elcodi_config('store.phone') }}
                    {% endif %}
                    {% if elcodi_config('store.phone') != '' and elcodi_config('store.email') != '' %}
                    <span class="mh-s">-</span>
                    {% endif %}
                    {% if elcodi_config('store.email') != '' %}
                        <i class="icon-envelope"></i>
                        <a href="mailto:{{ elcodi_config('store.email') }}">
                             {{ elcodi_config('store.email') }}
                        </a>
                    {% endif %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-1 ta-c">
            <ul class="list-horizontal">
                <li>
                    {{ elcodi_config('store.name') }} © {{  "now"|date("Y") }} <span class="ml-s">-</span>
                </li>
                {% set pages = elcodi_footer_pages() %}
                {% for page in pages %}

                    <li><a href="{{ url("elcodi_page_render_view", {"path": page.path}) }}">{{ page.title }}</a> {% if not loop.last %} <span class="ml-s">-</span> {% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% set social_twitter = 'tonipinel' %}
    {% set social_facebook = 'tonipinel' %}
    {% if social_twitter != '' or social_facebook != '' %}
        <div class="grid">
            <div class="col-1-1 ta-c">
                <ul class="list-horizontal footer-social">
                    <li>
                        <h5>{{ 'template.BlueDay_bundle.footer.follow_us'|trans }}:</h5>
                    </li>
                    {% if social_twitter != '' %}
                        <li>
                            <a href="http://twitter.com/{{ social_twitter }}" class="icon-twitter icon-2x"></a>
                        </li>
                    {% endif %}
                    {% if social_facebook != '' %}
                        <li>
                            <a href="http://facebook.com/{{ social_facebook }}" class="icon-facebook icon-2x"></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</footer>