{% extends '@BlueDayTemplate/Layout/_static.html.twig' %}

{% block content %}
    <article class="box-background">
        <h1 class="ta-c mb-n">{{ blog_post.title }}</h1>
        <p class="ta-c fz-s pt-s"><i class="icon-calendar-o"></i> {{ blog_post.publishedDate|date('Y-m-d') }}</p>
        <div class="blog-post-content">
            {{ blog_post.content|raw }}
        </div>
    </article>
    {{ elcodi_hook("store.blog_post_view_bottom", {
        'blog_post': blog_post
    }) }}
    {% set last_posts = elcodi_blog_pages(1) %}
    {% if last_posts|length > 1 %}
    <h3>{{ 'template.BlueDay_bundle.blog.post.view.last_post'|trans }}</h3>
    {% for last_post in last_posts %}
        {% if  last_post.id != blog_post.id %}
        <article class="box">
            <h2><a href="{{ url("store_blog_post_view", {
                    'id': last_post.id,
                    'slug': last_post.path
                }) }}">
                {{ last_post.title }}
            </a></h2>
            {{ last_post.content|striptags|raw|truncate(100) }}
            <a href="{{ url("store_blog_post_view", {
                'id': last_post.id,
                'slug': last_post.path
            }) }}">{{ "template.BlueDay_bundle.blog.post.view.read_more"|trans }}</a>
        </article>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}
