{#
 # Base view for a Product detail page with no variants.
 #}
{% extends '@BlueDayTemplate/Layout/_layout.html.twig' %}

{% block title %}Bamboo - {{ 'template.BlueDay_bundle.product.view_item.product'|trans }} {{ product.name }}{% endblock title %}

{% block content %}
    <div id="product" class="grid">
        <div class="col-1-2">
            {% block product_image %}
                <a data-product="{{ product.id }}"
                   data-attribute="img-href"
                    href="{{ product.images|length > 0 ? product.images.first|resize({
                    'width': 1024,
                    'height': 1024,
                    'type': 5
                }) : 'http://placehold.it/772x604' }}" alt="{{ product.name }}" class="product-thumbnail">
                    {% if product.reducedPrice.amount > 0 %}<span class="product-badge">{{ 'template.BlueDay_bundle.product.view_item.offer'|trans }}</span> {% endif %}
                    <img data-product="{{ product.id }}"
                         data-attribute="img"
                        src="{{ product.images|length > 0 ? product.images.first|resize({
                        'width': 772,
                        'height': 604,
                        'type': 5
                    }) : 'http://placehold.it/772x604' }}" alt="{{ product.name }}"/>
                </a>
            {% endblock %}
            {{ elcodi_hook("store.product_pin_top", {
                'product': product
            }) }}
        </div>
        <div class="col-1-2">
            <h1 class="fw-n">{{ product.name }}</h1>
            {% block product_info %}
                {% block product_info_add_basket %}
                    <div class= "product-to-basket">
                        <p>
                            {% if product.reducedPrice.amount > 0 %}
                                <span class="product-pricing product-pricing-before">{{ product.price|print_convert_money() }}</span>
                                <span class="product-pricing product-pricing-now">{{ product.reducedPrice|print_convert_money() }}</span>
                            {% else %}
                                <span class="fz-h1">{{ product.price|print_convert_money() }}</span>
                            {% endif %}
                        </p>
                        {% if not useStock or product.stock > 0 %}
                        <form class="form mb-l" data-fc-modules="add-to-cart">
                            <select class="w-20 fl-l mr-l">
                                {% for value in 1..20  %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                                <a title="{{ 'template.BlueDay_bundle.product.view_item.add_to_cart'|trans }}"
                                   class="icon-shopping-cart button button-secondary pv-m js-add-to-cart-button"
                                   href="{{ url('store_cart_add_product', { id: product.id }) }}"> {{ 'template.BlueDay_bundle.product.view_item.add_to_cart'|trans }}
                                </a>
                        </form>
                        {% else %}
                            <a title="{{ 'template.BlueDay_bundle.product.view_item.no_stock'|trans }}"
                               class="icon-times button"
                               href="#"> {{ 'template.BlueDay_bundle.product.view_item.no_stock'|trans }}</a>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block product_info_details %}
                    <p>{{ product.description }}</p>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
    <div class="grid">
        <div class="col-1-1">
            {{ elcodi_hook("store.product_view_bottom", {
                'product': product,
            }) }}
        </div>
    </div>
{% endblock content %}

{% block prefooter %}
    <div class="d-n">
        {% include "@BlueDayTemplate/Modules/_product-related.html.twig" with {'products' : related_products} %}
    </div>

{% endblock prefooter %}
